<!DOCTYPE html>
<html>
    {% include 'header.html' %}

    <body>
        <h1>Welcome to the Library</h1>

        <h3>Librarians: log in <a href="/librarian"> Here</a></h3>
        <h3>Patrons: log in <a href="/patron"> Here</a></h3>
    </body>
</html>
