<!DOCTYPE html>
<html>
    {% include 'header.html' %}

    <body>
        {% include 'nav_bar.html' %}
        <div class="container">
            <h1>Welcome, Patron</h1>
        </div>
    </body>
</html>
